In [ ]:
library(tidyverse)
library(repr)
library(tidymodels)

***DESCRIPTION***

The 'players.csv' dataset has:
- 196 observations
- 7 variables:
    - experience. string. the player's prior experience with Minecraft, ranging from 'Beginner' to 'Pro'.
    - subscribe. boolean. whether or not the player has subscribed to the game-related newsletter.
    - hashedEmail. string. scrambled version of the player's email.
    - played_hours. double. the amount of time the player has spent playing on the Minecraft server in hours, rounded to one decimal place. Mean: 5.85
    - name. string. the player's name.
    - gender. string. the player's gender.
    - Age. integer. the player's age in years. Mean: 21.14

Issues:
- Its variables are named using varying formats (Age is the only capitalized variable, camelCase is used for only one of two two-word variables)
- !!! more issues maybee

***QUESTIONS***

I will be addressing question 2: 'Which kinds of players are likely to contribute the most data?' The specific question that I will be asking is 'Can player age predict hours played in the players dataset?' More hours played means more data contributed, and I've chosen to try and link hours played to age.

!!! how will you wrangle the data. girlie.

In [30]:
players = read_csv("data/players.csv")
hours = summarize(players, played_hours = mean(played_hours, na.rm = TRUE))
hours
age = summarize(players, Age = mean(Age, na.rm = TRUE))
age

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  played_hours
1 5.845918

  Age
1 21.13918